[Unit]
Description=bluebutton Server

[Service]
Type=simple
User=root
ExecStart=/home/pi/bluebutton/bluebutton.sh
Restart=on-failure
RestartSec=10
KillMode=mixed

[Install]
WantedBy=multi-user.target
